@page
@model Research_Software_Dev.Pages.Participants.DeleteModel

@{
    ViewData["Title"] = "MHRA - Delete Participant";
}

<h1>Delete Participant</h1>

<h3>Are you sure you want to delete "@Model.Participant.ParticipantFirstName @Model.Participant.ParticipantLastName" from the study "@Model.StudyName"?</h3>
<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.ParticipantFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.ParticipantFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.ParticipantLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.ParticipantLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.ParticipantAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.ParticipantAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.ParticipantEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.ParticipantEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.ParticipantPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.ParticipantPhoneNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Participant.ParticipantId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
