@page
@model Research_Software_Dev.Pages.Participants.IndexModel

@{
    ViewData["Title"] = "Participants";
}

<h1>Viewing Participants</h1>

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Register a New Participant</a>
</p>
<form method="get">
    <div class="form-group">
        <label for="studyFilter">Filter by Study:</label>
        <div class="d-flex w-50">
            <select asp-for="SelectedStudyId" class="form-control">
                <option value="">-- All Studies --</option>
                @foreach (var study in Model.Studies)
                {
                    <option value="@study.StudyId">@study.StudyName</option>
                }
            </select>
            <button type="submit" class="btn btn-dark">Filter</button>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Participant[0].ParticipantFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Participant[0].ParticipantLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Participant[0].StudyName)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Participant) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantLastName)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.StudyName)
                </td>
                <td>
                    <a class="btn btn-outline-dark me-1" asp-page="./Edit" asp-route-id="@item.ParticipantId">Edit</a>
                    <a class="btn btn-outline-dark me-1" asp-page="./Details" asp-route-id="@item.ParticipantId">Details</a>
                    <a class="btn btn-outline-danger me-1" asp-page="./Delete" asp-route-id="@item.ParticipantId">Remove</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
