@page
@model IndexModel
@using Research_Software_Dev.Models.Researchers
@using Research_Software_Dev.Models.Studies
@using System.Net.Http.Json
@inject UserManager<Researcher> UserManager
@inject IHttpClientFactory HttpClientFactory

@{
    ViewData["Title"] = "Home";

    //gets the current user
    var currentUser = UserManager.GetUserAsync(User).Result;
    bool isUser = currentUser != null;

    //initializing variables
    List<Study> studies = Model.Study;
    bool flag = false;
}

<div class="text-center">
    @{
        if (isUser)
        {
            <h1 class="display-2 mb-3">Welcome @currentUser.ResearcherFirstName @currentUser.ResearcherLastName!</h1>
            <p class="display-4">Your Studies:</p>
            if (studies == null || !studies.Any())
            {
                <p>No studies available.</p>
            }
            else
            {
                if (studies.Count > 3)
                {
                    studies = studies.Take(3).ToList();
                    flag = true;
                }
                <div class="d-flex flex-column justify-content-center align-content-center align-items-center">
                    @foreach (var item in studies)
                    {
                    <div class="card mb-2" style="width: 40vw; min-width: 370px">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.StudyName)</h5>
                            <div class="d-flex justify-content-center mb-2">
                                <p class="card-text" style="max-height: 30vh; max-width: 30vw; min-width: 340px; overflow-y: scroll; padding: 5px;">Desc: @Html.DisplayFor(modelItem => item.StudyDescription)</p>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark me-1" asp-page="/Studies/Edit" asp-route-id="@item.StudyId">Edit</a>
                                <a class="btn btn-outline-dark me-1" asp-page="/Studies/Details" asp-route-id="@item.StudyId">Details</a>
                                <a class="btn btn-outline-danger me-1" asp-page="/Studies/Delete" asp-route-id="@item.StudyId">Delete</a>
                            </div>
                        </div>
                    </div>
                    }
                    @if (flag)
                    {
                    <div class="list-group-item mb-2">
                        <a class="link-primary" asp-page="/Studies/Index">View All</a>
                    </div>
                    }   
                </div>
            }
        }
        else
        {
            <p>Please Sign In.</p>
        }
    }
</div>