@page
@model Research_Software_Dev.Pages.Forms.IndexModel
@{
    ViewData["Title"] = "Forms";
}

<h1>Viewing Forms</h1>

<p>
    <a asp-page="./Create" class="btn btn-outline-primary">Create a New Form</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Forms[0].FormName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var form in Model.Forms)
        {
            <tr>
                <td>@form.FormName</td>
                <td>
                    <a class="btn btn-outline-dark" style="min-width: 90px;" asp-page="./Details" asp-route-id="@form.FormId">Details</a> |
                    <a class="btn btn-outline-dark" style="min-width: 90px;" asp-page="./Edit" asp-route-id="@form.FormId">Edit</a> |
                    <a class="btn btn-outline-danger" style="min-width: 90px;" asp-page="./Delete" asp-route-id="@form.FormId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>