@page
@model Research_Software_Dev.Pages.ParticipantSessions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParticipantSession</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantSession.Participant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticipantSession.Participant.ParticipantId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantSession.Session)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticipantSession.Session.SessionId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
